body {
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#logo {
    color: white;
    margin: 10px;
    ;
}

nav {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.121);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
}

nav li {
    margin: 0 15px;
    cursor: pointer;
}


.hero {
    background-image: url("./images/img\ \(3\).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: white;
    border: none;
    width: 400px;
    padding: 8px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: white;
    /* margin-top: 30px; */
}

p {
    color: white;
    text-align: center;
    /* margin-top: 180px; */
}


.card {
    background: #fff;
    /* background-image: url("./images/img13.jpg"); */
    border-radius: 12px;
    width: 180px;
    height: 220px;
    background-size: cover;
    margin: 10px;
}

.card:hover {
    scale: 1.05;
}

.parent-grid {
    margin: auto;
    width: 90%;
    padding: 20px;
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(auto-fit, 230px);
    justify-content: center;
    row-gap: 20px;
    column-gap: 10px;
}

#one {
    background-image: url("./images/img\ \(8\).jpg");
}

#two {
    background-image: url("./images/img\ \(7\).jpg");
}

#three {
    background-image: url("./images/img\ \(6\).jpg");
}

#four {
    background-image: url("./images/img\ \(5\).jpg");
}

#five {
    background-image: url("./images/img\ \(4\).jpg");
}

#six {
    background-image: url("./images/img\ \(3\).jpg");
}

#seven {
    background-image: url("./images/img\ \(2\).jpg");
}

#eight {
    background-image: url("./images/img\ \(1\).jpg");
}