body {
    padding: 0;
    margin: 0;
}

.flex-item {
    background-color: wheat;
    margin: 20px;
    padding: 20px;
    /* display : inline-block; */
    width: 100px;
    text-align: center;
}

.flex-container {
    background-color: indianred;
    display: flex;
    height: 600px;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    flex-wrap: wrap; 
    justify-content: center;
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* align-items: baseline; */
    align-items: center;
    /* align-items: last baseline; */
}



#One {
    flex-grow: 1;
}

#Two {
    flex-grow: 1;
}

#Three {
    flex-grow: 1;
}

