.grid-container {
    background-color: indianred;
    padding: 20px;
    display: grid;
    grid-template-columns: 200px 300px 200px;
    grid-template-rows: 100px 200px auto;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: space-evenly;
}


.grid-item {
    background-color: wheat;
    border: 1px solid black;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}

#grid-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}
#grid-5 {
    /* grid-area: 1/2/4/5; */
    /* grid-area: 1/2/span 2/ span 3; */
}