/* h1 {
    background-color: burlywood;
}

p {
    text-align: center;
}


.p2 {
    background-color: yellow;
}

#p2 {
    color: red;
} */

/* 
.p1 {
    color: red;
    border: 2px solid black;

}

.c1 {
    color: blue;
    border: 2px solid brown;

} */


.fontActivity {
    font-weight: bolder;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}