body {
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    color: white;

}

nav li {
    margin: 0 15px;
    cursor: pointer;
}


ul {
    list-style-type: none;
    display: flex;
}

.first-logo {
    position: fixed;
    left: 15px;
    top: 15px;
}

.menu {
    position: fixed;
    right: 30px;
    top: 15px;
}

#home {
    padding-right: 80px;
}

.hero {
    width: 100%;
    background-image: url("./images/img\ \(3\).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 320px;

}

.hero_div {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.666);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input {
    background-color: white;
    border: none;
    width: 400px;
    padding: 10px;
    border-radius: 8px;
}

h1 {

    color: white;
}

p {
    color: white;

}


.card {
    background: #fff;
    /* background-image: url("./images/img13.jpg"); */
    border-radius: 12px;
    width: 200px;
    height: 250px;
    background-size: cover;
    margin: 10px;
}

.parent-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
}

#one {
    background-image: url("./images/img\ \(8\).jpg");
}

#two {
    background-image: url("./images/img\ \(7\).jpg");
}

#three {
    background-image: url("./images/img\ \(6\).jpg");
}

#four {
    background-image: url("./images/img\ \(5\).jpg");
}

#five {
    background-image: url("./images/img\ \(4\).jpg");
}

#six {
    background-image: url("./images/img\ \(3\).jpg");
}

#seven {
    background-image: url("./images/img\ \(2\).jpg");
}

#eight {
    background-image: url("./images/img\ \(1\).jpg");
}


/* gpt */