* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

/* ####### navbar styling ####### */

.navbar {
    background-color: #131921;
    color: #fff;
    padding: 10px 20px;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 100px;
}

.nav-action {
    display: flex;
    align-items: center;
    gap: 15px;
}

.signin {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.signin:hover {
    background-color: #fff;
    color: #131921;
}


.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.dot {
    color: #ff9900;
}

.search-bar {
    width: 50%;
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-btn {
    background-color: #febd69;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.cart {
    font-size: 18px;
    cursor: pointer;
}


/* ####### Mian container ####### */
.main-container {
    display: flex;
    background-color: #f1f3f6;
    min-height: 90vh;
}


/* ####### sidebar ####### */
.sidebar {
    width: 18%;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
}


.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007185;
    font-size: 16px;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}


/* ####### product grid ####### */

.product-grid {
    width: 82%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.product-card h4 {
    font-size: 16px;
    margin-bottom: 5px;
}


.product-card p {
    font-weight: bold;
    color: #b12704;
    margin-bottom: 10px;
}

.product-card button {
    background-color: #ffd814;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.product-card button:hover {
    background-color: #f7ca00;
}